footer {
  justify-content:center;
  width: 100%;

  position: -webkit-sticky ;
  position: sticky;
}

h2 {
  color: white;
  align-content: center;
  font-family: Open Sans Condensed; font-weight: 700;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: .5em;
  margin-top: .5em;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}